/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: 'Ralewey', sans-serif;
  font-size: 14px;
  color: #6c7279;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
